@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap');

/** COLORS */
$background-color: #ececec;
$primary-background-color: #fffefe;

$primary-text: #333136;
$secondary-text: #989898;

$primary-accent: #9f40fe;
$primary-accent-lower: #9f40fe31;
/** Fonts */

$font-family: 'Lexend Deca', sans-serif;